<nav class="navbar-fixed-bottom mobile-cart visible-xs">
	<ul class="container">
		<li>
			<span ng-show="cartTotal"> <i class="fa fa-inr"></i> {{ cartTotal }} ({{totalQuantity}})</span>
			<span ng-show="cartTotal == 0"><small> Add products to cart !</small></span>
		</li>
		<li class=" pull-right">
			<a class="btn btn-danger btn-sm" ui-sref="app.mycart"><i class="fa fa-shopping-cart fa-2x"></i>
			<small>My Cart</small></a>
		</li>
	</ul>
</nav>

<footer class="footer">

	<div class="container">
		<ul>
			<li class="space"><strong><a href="mailto:care@khareedto.com">Email Us</a></strong></li>
			<li class="space"><strong><a href="privacy">Privacy</a></strong></li>
			<li class="space"><strong><a href="aboutus">About Us</a></strong></li>
			<!--<li class="space"><strong><a href="howitworks">How It Works ?</a></strong></li>-->
		</ul>

		<ul class="pull-right">
			<li> Copyright &copy; KhareedTo {{app.year}}</li>
		</ul>
		<div class="clearfix"></div>
	</div>

		<div class="visible-xs" style="margin-top:60px;"></div>
</footer>