<div class="container-fluid" ng-controller="HomeController" ng-init="load()">
	<div class="row first-slide">
	<br/>
	<br/>
	<br/>
	<br/>
		<div class="container">
            <h2 class="title text-center">
            	<b>KharidTo LOGO here... </b>
            </h2>
			
			<h2 class="hero-unit"> "Grab your needs with one click"</h2>  
			<p class="info-small text-center">
                <b>Creators</b> currently provides serivce at BVCOE, Delhi only .<br>
            </p>
                                
			<br>
            
            <div class="text-center">
            	<a class="btn btn-default btn-lg -blue" href="#" data-toggle="modal" data-target="#product-modal"> Have Something to sell ? </a>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="container mid-slide">
				<h2 class="text-center"> Services</h2>
				<div class="row">
					<div class="col-sm-4">
						<img src="../assets/images/buy.png" class="img-responsive">
					</div>
					<div class="col-sm-4">
						<img src="../assets/images/delivery.png" class="img-responsive">
					</div>
					<div class="col-sm-4">
						<img src="../assets/images/cash.png" class="img-responsive" width="305px">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 well">
			<div class="container">
				<div ng-repeat="product in products"  class="col-sm-4">
					<div class="thumbnail cart ">
						<img src="../assets/images/{{product.product.image}}" style="" class="">
					
						<div class="caption">

							<button class="btn btn-info center-block" data-target="#cart" data-toggle="modal" ng-click="addToCart(product)">
								<i class="fa fa-shopping-basket fa-small"></i> &nbsp; Add to Cart
							</button>
						</div>

					</div>
				</div>	
			</div>
		</div>
		<div class="clearfix"></div>
	</div>















<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content cart">
    	<div class="modal-header">
			<div class="pull-right"><i class="fa fa-times"></i></div>
    	</div>
    	<div class="cart-image">
			<img src="../assets/images/{{selectedProduct.product.image}}">
		</div>

      <div class="modal-body">
      	<div class="col-sm-12">
      		<div class="alert alert-danger" ng-show="formError">
      			<ul>
      				<li ng-repeat="error in formError">{{error[0]}}</li>
      			</ul>
      		</div>
      <br/><br/>
      	<form class="form"  ng-submit="placeOrder()">
      		<div class="col-sm-6 col-sm-offset-3 col-xs-offset-2 form-group">
      			<input class="form-control input-sm" type="name" placeholder="Name" ng-required="" ng-model="formFill.name" />
      		</div>
      		<div class="col-sm-6 col-sm-offset-3 col-xs-offset-2 form-group">
      			<input class="form-control input-sm" type="email" placeholder="Email" ng-required="" ng-model="formFill.email" />
      		</div>      		
      		<div class="col-sm-6 col-sm-offset-3 col-xs-offset-2 form-group">
      			<input class="form-control input-sm" placeholder="Phone" ng-required="" ng-model="formFill.phone" />
      			<span class="help-block"> Will be verified on WhatsApp™</span>
      		</div>
      		<div class="col-sm-6 col-sm-offset-3 col-xs-offset-2 form-group">
      			<input class="form-control input-sm" type="number" placeholder="Name" value="1" ng-required="" ng-model="formFill.product.quantity"/>
      			<span class="help-block"> Quantity</span>
      		</div>
        	<div class="col-sm-6 col-sm-offset-3 col-xs-offset-2" >
        		<button type="submit" class="btn btn-success btn-block">Add To Cart</button>
        		<button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Checkout</button>
        	</div>

		</form>      		
      	</div>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







</div> <!--./  Controller -->