<div class="content">
	<div class="container">
	<br/>
		<h1 class="text-center"><u>About Us</u></h1>
	<br/>
		<p class="lead m-top-20">

		<b>KhareedTo</b> is an association made by having an insightful thought while savouring the taste of MOMO’s by the founding members (Yes, you heard it right!). <br/><br/>
		The thought was simple and provocative, why not help the freshers to buy important stuff required during the course of Engineering? We faced a similar problem and frankly we didn't had anyone to help us. 
		<br/><br/>
		Anyways, initial days in a college are filled with despair and hopelessness. This is where team KharidTo comes into play. Our goal is to make you buy the important stuff at the cheapest available rate. We work with the objective to help you getting started with the phenomenal phase of life called ENGINEERING.
		<br/>
		<br/>
		A big cheers to team techbits for the noble service provided by them..!! Visit <a href="http://techbits.co.in">Techbits.co.in</a> to gain knowledge and join in the fun
		</p>
	</div>

</div>