<div ng-controller="HomeController" ng-init="load()">
	<div  class="container-fluid">
		<div class="row">
				<div class="col-sm-12 content">


<div id="carousel-example-generic" class="carousel slide custom-slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="../assets/images/b1.jpg" class="slider-image" alt="...">
      <div class="carousel-caption">
      <button class="btn btn-info btn-lg pull-right">Buy Now</button>
      </div>
    </div>    
  </div>

</div>
            		<div class="products">
            		<div ng-repeat="product in products" class="col-md-4">
						<div class="panel panel-default">
	            			<div class="panel-body">
	                		<img src="../assets/images/{{product.product.image}}" class="img-responsive center-block cart-image">
	            			</div>
	            		<div class="panel-footer"> 
							<div class="col-xs-6">
								{{product.product.name }}
								<div><del><i class="fa fa-inr"></i>{{product.price}}</del> &nbsp; <i class="fa fa-inr"></i>{{product.price - product.discount}}</div>
							</div>
							<div class="col-xs-6">
								<button class="pull-right btn btn-danger btn-sm" ng-click="addToCart(product)" ng-class="{'disabled':product.addedToCart==1}"> {{(product.addedToCart==1)?'Added' : 'Add to cart'}}</button>
							</div>
							<div class="clearfix"></div>
	            		</div>
	            	</div>
	    	</div>
	    	</div>
	    </div>
	    <div class="col-sm-2 hidden sidebar hidden-xs">
			<ul class="">
			<li ng-repeat="product in cart">
				<div class="row">
					<div class="col-sm-5">
						<img src="../assets/images/{{product.image}}" width="50px" class="img-bordered">
					</div> 
					<div class="col-sm-7">
						{{product.name}}
						<span class="badge">{{product.qty}}</span> 
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-default btn-xs" ng-click="addOneQuantity(product)"><i class="fa fa-plus"></i></button>
				  			<button type="button" class="btn btn-default btn-xs" ng-click="minusOneQuantity(product)"><i class="fa fa-minus"></i></button>
						</div>
 						<i class="close" ng-click="removeFromCart(product)">&times;</i>
					</div>
				</div>
			</li>
			</ul>
			<button class="btn btn-danger sidebar-btn" data-toggle="modal" data-target="#cart" ng-show="cartTotal>0">Cash On delivery</button>
		</div>
</div>


	
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog " role="document">
    <div class="modal-content cart">
    	<div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    	</div>
    	<div class="cart-header place" ng-class="{placed:(orderPlaced==1)}">
    		{{checkoutMessage}}
		</div>

      <div class="modal-body">
      	<div class="col-sm-12" >
      		<span ng-show="orderPlaced">
      			<p class="lead"> Thankyou for your order. 
      			You will receieve a email containing order details shortly. 
      			Meanwhile share us and tell us how was your experience at our facebook page [LINK] or email us at care@kharidto.com
      			</p>
      		</span>
      		<div class="alert alert-danger" ng-show="formError">
      			<ul>
      				<li ng-repeat="error in formError">{{error[0]}}</li>
      			</ul>
      		</div>
      <br/><br/>
			<form class="form" ng-submit="placeOrder()" ng-show="orderPlaced==0">
      		<div class="col-sm-6 col-sm-offset-3 form-group">
      			<input class="form-control" type="name" ng-model="formFill.name" placeholder="Name" ng-required="true"/>
      		</div>
      		<div class="col-sm-6 col-sm-offset-3 form-group">
      			<input class="form-control" type="email" ng-model="formFill.email" placeholder="Email" ng-required="true" />
      		</div>      		
      		<div class="col-sm-6 col-sm-offset-3 form-group">
      			<input class="form-control" ng-model="formFill.phone" placeholder="Phone"  ng-required="true"/>
      			<span class="help-block"> Will be verified on WhatsApp™</span>
      		</div>
        	<div class="col-sm-6 col-sm-offset-3">
        		<button type="submit" class="btn btn-success btn-block" ng-class="{disabled:placingOrder}"> 
        			<span ng-show="placingOrder==0">Place Order</span>
        			<span ng-show="placingOrder">Please wait...</span>
        		</button>
        	</div>

		</form>      		
      	</div>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div> <!--./  Controller -->
</div>