<div class="panel panel-default">
	<div class="panel-body">

	</div>
	<div class="panel-footer">
		name
	</div>
</div>

				<!-- <div ng-repeat="product in products" class="col-sm-4">
					<div class="thumbnail cart card ">
						<img src="../assets/images/{{product.product.image}}" class="card__image">
					
						<div class="caption">

							<button class="btn btn-info center-block" ng-click="addToCart(product)">
								<i class="fa fa-shopping-basket fa-small"></i> &nbsp; Add to Cart
							</button>
						</div>
						<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
							<div class="input-group ">
						      <span class="input-group-btn">
						        <button class="btn btn-default btn-sm" type="button" ng-click="product.qty = (product.qty==1)?1:product.qty-1"><i class="fa fa-minus"></i></button>
						      </span>
						      <input type="text" class="form-control input-sm" placeholder="Quantity" readonly="" ng-model="product.qty" ng-init="product.qty=1">
						      <span class="input-group-btn">
						        <button class="btn btn-default btn-sm" type="button" ng-click="product.qty = product.qty+1"><i class="fa fa-plus"></i></button>
						      </span>
						    </div><!-- /input-group -->
						</div>
						<!-- <div class="clearfix"></div> -->
<!-- 					</div>
				</div>  -->