<div class="content">
	<div class="container">
	<br/>
		<h1 class="text-center"><u>Privacy Policy</u></h1>
	<br/>
		<p class="lead m-top-20">

		This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site. By using the Website, you agree to the collection and use of information in accordance with this policy. 
		<br/>
		The term Website in this policy is used for all content inside http://kharidto.com including its sub domains, hyperlinks and all copyright content of it.
		<br/>
		<br/>
		<b>Information Collection And Use:</b>
		<br/>
		While using our Website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you for required verification process. Personally identifiable information includes but not limited to Customer Name, E-Mail, Contact No. where Customer relates to the person actually browsing and placing an order on our Website.
		<br/>
		<br/>
		<b>Log Data</b>
		<br/>
		Like many site operators, we collect information that your browser sends whenever you visit our Website ("Log Data”). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.
		<br/>
		<br/>
		<b>Communications</b>
		<br/>
		We may use your Personal Information to contact you with information regarding your order.
		<br/>
		<br/>
		<b>HTML5 Local Storage</b>
		<br/>

		With local storage, web applications can store data locally within the user's browser. Before HTML5, application data had to be stored in cookies, included in every server request. Local storage is more secure, and large amounts of data can be stored locally, without affecting website performance. However, if you do not accept Local storage, you may not be able to use some portions of our Site.
		<br/>
		<br/>

		<b>Security</b>
		<br/>

		The security of your Personal Information is important to us. We will refrain from using such information with any third party vendor and take care that your interests are safeguarded.
		<br/>
		<br/>
		<b>Return Policy</b>
		<br/>
		Items like Lab Coat, Drafter set are refurbished. Buyers are advised to thoroughly check everything and then accept the product. No return or exchange request will be entertained after the successful completion of order. Regarding the calculator, the buyer has to contact the respective company to acquire the respective services, that he/she may desire of.
		<br/>
		<br/>
		If you have any questions about this Privacy Policy, please contact us at <a href="mailto:care@khareedto.com">care@khareedto.com</a>

		</p>
	</div>

</div>